# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.vscode/
.DS_Store
data/*
__pycache__
*.ipynb_checkpoints/*
*__pycache__
checkpoint/UNetResNet34_256_v1_seed2018/best.pth.tar
checkpoint/UNetResNet34_256_v1_seed2018/last.pth.tar
pytorch-base/img/.ipynb_checkpoints/common_mistakes-checkpoint.png
logging/UNetResNet34_256_v1_seed2018.log
